# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
env/
.idea/
.pytest_cache/

# .NET / MAUI
[Pp]ackages/
[Aa]rtifacts/
.DS_Store
Thumbs.db
